In [7]:
import pandas as pd

In [30]:
dao = pd.read_csv("data/DAOs_DATA.txt")

In [31]:
dao.head()

,Unnamed: 0,Dao_title,categories,about,simdaos,chain
0,0,DAOHQ - Yog8 DAO,['Social Impact'],Yog8 DAO encourages wellness in Web3 by offeri...,"['Antidote DAO', 'BoldDao', 'Boss Beauties DAO...","['Ethereum', '89.0']"
1,1,DAOHQ - Lit Protocol DAO,"['DAO Tools', 'Protocol']",Decentralized access control infrastructure de...,"['88mph', 'APY Vision', '0x', '1inch Network']","['Ethereum', '20.6K']"
2,2,DAOHQ - MinMax DAO,['Investment'],The IoTeX native cross-chain pegged assets AMM...,"['80Acres DAO', 'Alpha Finance Lab', '8DAO', '...","['Ethereum', '55.0']"
3,3,DAOHQ - Blockade Games DAO,"['DAO Tools', 'Gaming']",Leading blockchain video game development stud...,"['88mph', 'APY Vision', '0x', '1inch Network']","['Ethereum', '13.1K']"
4,4,DAOHQ - The LAO DAO,"[' www.thelao.io', ' www.thelao.io']","The LAO is a limited-liability, for-profit DAO...",[],[]

# Preprocessing

In [32]:
dao.shape

(1006, 6)

In [55]:
data = dao.drop('Unnamed: 0',axis=1)

In [56]:
data.head()

,Dao_title,categories,about,simdaos,chain
0,DAOHQ - Yog8 DAO,['Social Impact'],Yog8 DAO encourages wellness in Web3 by offeri...,"['Antidote DAO', 'BoldDao', 'Boss Beauties DAO...","['Ethereum', '89.0']"
1,DAOHQ - Lit Protocol DAO,"['DAO Tools', 'Protocol']",Decentralized access control infrastructure de...,"['88mph', 'APY Vision', '0x', '1inch Network']","['Ethereum', '20.6K']"
2,DAOHQ - MinMax DAO,['Investment'],The IoTeX native cross-chain pegged assets AMM...,"['80Acres DAO', 'Alpha Finance Lab', '8DAO', '...","['Ethereum', '55.0']"
3,DAOHQ - Blockade Games DAO,"['DAO Tools', 'Gaming']",Leading blockchain video game development stud...,"['88mph', 'APY Vision', '0x', '1inch Network']","['Ethereum', '13.1K']"
4,DAOHQ - The LAO DAO,"[' www.thelao.io', ' www.thelao.io']","The LAO is a limited-liability, for-profit DAO...",[],[]

In [57]:
data.Dao_title = data.Dao_title.str.replace('DAOHQ - ','').str.lower()

In [58]:
data.head()

,Dao_title,categories,about,simdaos,chain
0,yog8 dao,['Social Impact'],Yog8 DAO encourages wellness in Web3 by offeri...,"['Antidote DAO', 'BoldDao', 'Boss Beauties DAO...","['Ethereum', '89.0']"
1,lit protocol dao,"['DAO Tools', 'Protocol']",Decentralized access control infrastructure de...,"['88mph', 'APY Vision', '0x', '1inch Network']","['Ethereum', '20.6K']"
2,minmax dao,['Investment'],The IoTeX native cross-chain pegged assets AMM...,"['80Acres DAO', 'Alpha Finance Lab', '8DAO', '...","['Ethereum', '55.0']"
3,blockade games dao,"['DAO Tools', 'Gaming']",Leading blockchain video game development stud...,"['88mph', 'APY Vision', '0x', '1inch Network']","['Ethereum', '13.1K']"
4,the lao dao,"[' www.thelao.io', ' www.thelao.io']","The LAO is a limited-liability, for-profit DAO...",[],[]

In [59]:
import ast

In [60]:
data.categories = data.categories.apply(lambda x: ast.literal_eval(x))
data.categories

0                        [Social Impact]
1                  [DAO Tools, Protocol]
2                           [Investment]
3                    [DAO Tools, Gaming]
4       [ www.thelao.io,  www.thelao.io]
                      ...
1001      [Metaverse, Collector, Social]
1002                  [DeFi, Investment]
1003                            [Gaming]
1004             [Gaming, Entertainment]
1005                     [Media, Social]
Name: categories, Length: 1006, dtype: object

In [61]:
categories = ["Collector","DAO Tools","DeFi","Entertainment","Gaming","Grant","Investment","Media",
              "Metaverse","Operating Systems","Protocol","SPAD""Service","Social","Social Impact",
              "Venture Capital"]

def category_replace(x):
    for i, cat in enumerate(x):
        if cat not in categories:
            x[i] = "other"
            
    return x
#category_replace([ "www.thelao.io", " www.thelao.io"])       

data.categories.apply(category_replace)

0                      [Social Impact]
1                [DAO Tools, Protocol]
2                         [Investment]
3                  [DAO Tools, Gaming]
4                       [other, other]
                     ...
1001    [Metaverse, Collector, Social]
1002                [DeFi, Investment]
1003                          [Gaming]
1004           [Gaming, Entertainment]
1005                   [Media, Social]
Name: categories, Length: 1006, dtype: object

In [64]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
# mlb.fit_transform([(1, 2), (3,)])


# mlb.classes_

In [65]:
mlb.fit(data.categories)

MultiLabelBinarizer()

In [66]:
mlb.classes_

array(['Collector', 'DAO Tools', 'DeFi', 'Entertainment', 'Gaming',
       'Grant', 'Investment', 'Media', 'Metaverse', 'Operating Systems',
       'Protocol', 'Social', 'Social Impact', 'Venture Capital', 'other'],
      dtype=object)

In [68]:
cat=pd.DataFrame(mlb.transform(data.categories),columns=mlb.classes_)

In [72]:
data.chain = data.chain.apply(lambda x: ast.literal_eval(x))

In [78]:
data.chain[0][0]

'Ethereum'

In [82]:
data['blockchain'] = data.chain.apply(lambda x: x[0] if len(x)==2 else None)
data['followers'] = data.chain.apply(lambda x: x[1] if len(x)==2 else None)
data.head()

,Dao_title,categories,about,simdaos,chain,blockchain,followers
0,yog8 dao,[Social Impact],Yog8 DAO encourages wellness in Web3 by offeri...,"['Antidote DAO', 'BoldDao', 'Boss Beauties DAO...","[Ethereum, 89.0]",Ethereum,89.0
1,lit protocol dao,"[DAO Tools, Protocol]",Decentralized access control infrastructure de...,"['88mph', 'APY Vision', '0x', '1inch Network']","[Ethereum, 20.6K]",Ethereum,20.6K
2,minmax dao,[Investment],The IoTeX native cross-chain pegged assets AMM...,"['80Acres DAO', 'Alpha Finance Lab', '8DAO', '...","[Ethereum, 55.0]",Ethereum,55.0
3,blockade games dao,"[DAO Tools, Gaming]",Leading blockchain video game development stud...,"['88mph', 'APY Vision', '0x', '1inch Network']","[Ethereum, 13.1K]",Ethereum,13.1K
4,the lao dao,"[other, other]","The LAO is a limited-liability, for-profit DAO...",[],[],None,None

In [84]:
data.blockchain.unique()

array(['Ethereum', None, 'Solana', 'Polygon', 'Binance', 'Bitcoin',
       'Avalanche', 'NEAR', 'Fantom', 'Gnosis', 'Tezos', 'Arbitrum',
       'Cosmos', 'Arweave', 'Moonriver', 'Kylin'], dtype=object)

In [102]:
data.followers

0         89.0
1        20.6K
2         55.0
3        13.1K
4         None
         ...
1001     157.0
1002      7.2K
1003    256.9K
1004     35.4K
1005      3.5K
Name: followers, Length: 1006, dtype: object

In [91]:
data.followers[113]

'93.6K'

93600.0

In [103]:
def clean_followers(x):
    if x:
        return float(x.replace('K',''))*1000 if 'K' in x else x
    return 0

In [104]:
clean_followers('93.6K')

93600.0

In [105]:
data.followers.apply(clean_followers)

0           89.0
1        20600.0
2           55.0
3        13100.0
4              0
          ...
1001       157.0
1002      7200.0
1003    256900.0
1004     35400.0
1005      3500.0
Name: followers, Length: 1006, dtype: object

In [107]:
data.followers.apply(clean_followers).astype(float)

ValueError: could not convert string to float: '1.0M'

In [ ]:
import numpy as np
from sklearn.metrics import pairwise_distances
from sklearn.metrics.pairwise import pairwise_kernels,PAIRWISE_KERNEL_FUNCTIONS
X = np.array([[2, 3], [3, 5], [5, 8]])

Y = np.array([[1, 0], [2, 1]])

pairwise_distances(X, Y, metric='manhattan')

pairwise_distances(X, metric='manhattan')

pairwise_kernels(X, Y, metric='linear')

In [6]:


X = np.array([[1, 1, 1], [2, 1, 2], [3, 3, 3], [2, 4, 2]])

Y = np.array([[1, 2, 1]])
sim = pairwise_distances(X, Y, metric='cosine')

ranked = sorted([(i, x[0]) for i, x in enumerate(sim)], reverse=True, key=lambda x: x[1])

idx = [x[0] for x in ranked[:3]]

X[idx]

NameError: name 'np' is not defined