In [1]:
import random
import pandas as pd
from collections import defaultdict

In [2]:
dummy={
    "age":list(range(10, 100)),
    "gender":['male', 'female','other'],
    
    "location":{
        "US":['NewYorkCity','Los Angeles','Chicago','Houston','Phoenix','Philadelphia','San Antonio','Dallas'],
        "UK":['London','Manchester','Birmingham-Wolverhampton','Leeds-Bradford','Glasgow','Southampton-Portsmouth','Liverpool','Newcastle'],
        "India":['Mumbai','Delhi','Bangalore','Kolkata','Chennai','Ahmedabad','Hyderabad','Pune']
    },
    
    "income":list(range(5000, 120000, 5000)),
    
    "blockchains":["Bitcoin", "Ethereum", "Solana", "Polygon", "Flow", "Cardano", "Avalanche", "Binance Smart Chain",'Ripple'],
    
    "interests":{
        'Music':['Rock','Jazz','ElectronicDanceMusic','Dubstep','Techno','RhythmandBlues(R&B)','Country','Pop'],
        'Sports':['Soccer/football','Badminton','Field Hockey','Volleyball','Basketball','Tennis','Cricket','Table Tennis'], 
        'Books':['Mysteries','Romance','Thrillers','Science Fiction','Fantasy','Historical Fiction'],
        'Travel':['The Weekend Break','The Package Holiday','The Group Tour','The Caravan/RV Road Trip','Volunteer Travel','Long Term Slow Travel','The Gap Year','Visiting Friends','Event Travel','Business Travel'],
        'Finance':['Banking','Professional Advisory','Wealth Management','Mutual Funds','Insurance','Stock Market','Treasury/Debt Instruments','Tax/Audit Consulting']
    }
}

In [5]:

def generate_samples(n = 100):
    files = defaultdict(list)
    for i in range(n):
        files['uid'].append(i)
        
        files['age'].append(random.choice(dummy['age']))
        
        files['gender'].append(random.choice(dummy['gender']))
        
        country = random.choice(list(dummy['location'].keys()))
        files['country'].append(country)
        
        files['city'].append(random.choice(dummy['location'][country]))
        
        files["income"].append(random.choice(dummy['income']))
        
        k = random.choice([1,2,3])
        bc = random.sample(dummy['blockchains'],k=k)
        files['blockchains'].append(bc)
        
        interests = {
                "music":random.sample(dummy['interests']['Music'],k=random.choice([1,2,3])),
                "sports":random.sample(dummy['interests']['Sports'],k=random.choice([1,2,3])),
                "books":random.sample(dummy['interests']['Books'],k=random.choice([1,2,3])),
                "travel":random.sample(dummy['interests']['Travel'],k=random.choice([1,2,3])),
                "finance":random.sample(dummy['interests']['Finance'],k=random.choice([1,2,3])),
            }
        
        files['interests'].append(interests)
    
    return files

In [7]:
pd.DataFrame(generate_samples(25))

,uid,age,gender,country,city,income,blockchains,interests
0,0,16,other,UK,Liverpool,3060000,"[Cardano, Avalanche]","{'music': ['Pop', 'RhythmandBlues(R&B)', 'Coun..."
1,1,27,other,US,Los Angeles,4210000,"[Solana, Polygon]","{'music': ['Pop', 'Country'], 'sports': ['Fiel..."
2,2,96,female,UK,Leeds-Bradford,1860000,[Avalanche],"{'music': ['ElectronicDanceMusic', 'Pop', 'Roc..."
3,3,71,other,India,Kolkata,1360000,"[Flow, Bitcoin, Solana]","{'music': ['Pop', 'RhythmandBlues(R&B)'], 'spo..."
4,4,31,female,US,Dallas,1260000,[Solana],"{'music': ['Country'], 'sports': ['Basketball'..."
5,5,68,male,US,Philadelphia,4710000,"[Binance Smart Chain, Ripple, Bitcoin]","{'music': ['Rock', 'Pop', 'RhythmandBlues(R&B)..."
6,6,31,female,US,Dallas,3160000,"[Flow, Ethereum]","{'music': ['Country', 'Rock'], 'sports': ['Bas..."
7,7,48,male,India,Chennai,5110000,[Cardano],"{'music': ['Country'], 'sports': ['Volleyball'..."
8,8,20,other,UK,Manchester,1960000,[Bitcoin],"{'music': ['Pop', 'RhythmandBlues(R&B)'], 'spo..."
9,9,58,female,India,Hyderabad,3210000,"[Binance Smart Chain, Polygon, Cardano]","{'music': ['Jazz', 'Pop'], 'sports': ['Basketb..."
10,10,75,other,UK,Liverpool,4260000,"[Cardano, Binance Smart Chain]","{'music': ['Rock', 'Country'], 'sports': ['Fie..."
11,11,89,other,UK,Manchester,2960000,[Ripple],"{'music': ['RhythmandBlues(R&B)'], 'sports': [..."
12,12,69,male,UK,Newcastle,2110000,"[Solana, Cardano, Flow]","{'music': ['Dubstep', 'ElectronicDanceMusic'],..."
13,13,44,female,UK,Leeds-Bradford,3410000,[Cardano],"{'music': ['Pop'], 'sports': ['Tennis', 'Baske..."
14,14,33,female,UK,Leeds-Bradford,1160000,"[Polygon, Binance Smart Chain, Solana]","{'music': ['Dubstep', 'Rock'], 'sports': ['Ten..."
15,15,24,other,India,Delhi,4010000,[Cardano],"{'music': ['Pop', 'Jazz', 'Rock'], 'sports': [..."
16,16,21,female,US,Los Angeles,2410000,"[Flow, Polygon, Solana]","{'music': ['Country', 'ElectronicDanceMusic'],..."
17,17,96,male,India,Mumbai,2810000,[Binance Smart Chain],"{'music': ['Jazz', 'Country', 'Rock'], 'sports..."
18,18,24,female,US,NewYorkCity,1610000,"[Solana, Binance Smart Chain]","{'music': ['ElectronicDanceMusic', 'Rock', 'Te..."
19,19,52,other,UK,Manchester,5960000,"[Binance Smart Chain, Solana]","{'music': ['Jazz'], 'sports': ['Volleyball', '..."
20,20,60,other,US,Chicago,5610000,"[Binance Smart Chain, Cardano, Flow]","{'music': ['ElectronicDanceMusic', 'Pop'], 'sp..."
21,21,37,other,India,Mumbai,3510000,"[Cardano, Bitcoin, Polygon]","{'music': ['Rock', 'Pop', 'Techno'], 'sports':..."
22,22,17,male,US,Dallas,4410000,[Flow],"{'music': ['Country', 'Dubstep'], 'sports': ['..."
23,23,56,other,US,Phoenix,1860000,[Binance Smart Chain],"{'music': ['RhythmandBlues(R&B)', 'Rock', 'Jaz..."
24,24,29,male,UK,Manchester,4710000,"[Flow, Avalanche, Polygon]","{'music': ['Country'], 'sports': ['Table Tenni..."